<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/a.adam/Documents/CORSO ALFASOFT/cucumber/testNG">
        <classes>
            <class name="org.example.FirstTestCase">
                <methods>
                    <include name="setup"/>
                    <include name="login"/>
                    <include name="teardown"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>