<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <!-- possiamo integrare anche qui Customer Listener oppure in ListenerTest-->
        <listener class-name="org.example.listeners.CustomerListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/a.adam/Documents/CORSO ALFASOFT/cucumber/testNG/src/test/java/org/example/listeners/ListenerTest.java">
        <classes>
            <class name="org.example.listeners.ListenerTest">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>