<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/a.adam/Documents/CORSO_ALFASOFT/cucumber/testNG/src/test/java/org/example/TC1.java">
        <classes>
            <class name="org.example.TC1">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/a.adam/Documents/CORSO_ALFASOFT/cucumber/testNG/src/test/java/org/example/TC2.java">
        <classes>
            <class name="org.example.TC2">
                <methods>
                    <include name="test3"/>
                    <include name="test4"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>